In [5]:
2+2

4

In [6]:
x = 7

In [8]:
# displaying variable previously defined
print(x)

7

In [9]:
x + 6

13

In [10]:
# delete a varibale from memory
del x

In [11]:
print(x)

NameError: name 'x' is not defined

In [12]:
x = 20

In [14]:
print(x)

20

In [16]:
y = 35

In [18]:
print(x *y)

700

In [20]:
# in jypiter we don't need 'print' 
x * y

700

In [22]:
x
y
x*y

700

In [23]:
# for multiple outputs we need "print"
print(x)
print(y)
print(x*y)

20
35
700

In [24]:
# check the data type of the variable
type(x)

int

In [25]:
type(30.85)

float

In [26]:
type("hello")

str

In [27]:
# we can use single or double quatations but we need to be consistent, not 2 diff. in same string
type("hello')

SyntaxError: unterminated string literal (detected at line 2) (2862551364.py, line 2)

In [28]:
x + 30.85

50.85

In [29]:
# even if a number is surrounded by quotes it is a string
y = '20'

In [30]:
type(y)

str

In [31]:
# we cannot perform math between integers or floats AND strings - output is duplication of the string
x * y

'2020202020202020202020202020202020202020'

In [32]:
x * 20.34

406.8

In [33]:
5 * "hello"

'hellohellohellohellohello'

In [34]:
300 / 4

75.0

In [ ]:
# double dash is floor division - not returning the remainder

In [36]:
# output is always a float, with or without remainder
6 / 4

1.5

In [38]:
# floor division doesn't return the remainder
6 // 4

1

In [39]:
6 % 4

2

In [40]:
# float showing .0
50/2

25.0

In [42]:
# single = is used to set a variable, a double == is used to check for equivalence
50 == 50

True

In [43]:
# no quotations around word True, it's a boolean value
True == 1

True

In [44]:
# use in math
(2 / 3 == 1.5) + 7

7

In [45]:
(3 / 2 == 1.5) + 7

8

In [49]:
# eg the average $ spent of a customer is $50 we count them towards a list of "high value customers"
count_of_hv_customers = 0
total_spend = 90
num_of_transations = 2
av_spend = total_spend/num_of_transations
(av_spend == 50) + count_of_hv_customers

0